

body 
{
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

form {
  margin: 20px auto;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
}

form h2 {
  margin-top: 0;
}

form label, form input {
  display: block;
  margin-bottom: 10px;
}

form input[type="submit"] {
  margin-top: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

li span {
  margin-right: 10px;
}

li button {
  margin-left: 10px;
}
